body{
    background: #110e38;
    color: #FFF;
}
.alert.alert-danger {
    margin-top: 40px;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.error-page .main-icon {
    max-width: 80px;
    margin-right: 40px;
}

@media(max-width: 1000px){
    .alert.alert-danger {
        max-height: unset;
        overflow: auto;
        overflow-y: unset;
    }
    .error-page .head{
        flex-direction: column;
    }
}