@page "/filmes"
@inject HttpClient httpClient
@model FilmesFrontend.Pages.Filmes.IndexModel
@{
    ViewData["Title"] = "Início - Filmes";
    Layout = "~/Pages/Shared/_PageMenuLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/Filme.css" asp-append-version="true" />
</head>

<h1>Filmes cadastrados 🎈</h1>

<ul>
    @foreach (var filme in Model.Filmes)
    {
        <li>@filme.Titulo</li>
    }
</ul>
