html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

* {
    box-sizing: border-box;
}

*:hover{
    transition: ease-in-out all .3s;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

button {
    cursor: pointer;
}

.page-default {
    padding: 90px;
}

header {
    background: #12183f;
}

header .nav-link,
header a {
    color: #FFF;
}

header .text-logo{
    color: #ffd543;
    font-weight: 400;
    font-size: 25px;
    font-family: "Share Tech", serif;
    border-bottom: 3px solid #ffd543;
    user-select: none;
}

.section-padding{
    padding: 90px 0;
}

@media(max-width: 1000px) {
    .page-default {
        padding: 40px;
    }
    .section-padding {
        padding: 40px 0;
    }
}
