@page
@inject HttpClient httpClient
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>

<section id="hero">
    <div class="board-grid">
        @foreach (var cover in Model.ListMovieCovers)
        {
            <div class="item" style="background-image: url('@cover')">
            </div>
        }
    </div>
    <div class="container d-flex align-items-center justify-content-center wrapper text-center">
        <h1>SCF Filmes</h1>
    </div>
</section>

<section id="descubra" class="section-padding">
    <div class="container">
        <div class="d-flex align-items-start justify-content-start">
            @foreach(var filme in Model.Filmes)
            {
                <div class="item">@filme.Titulo</div>
            }
        </div>
    </div>

    <div id="paginacao" class="d-flex align-items-center justify-content-center">
        @for (int i = 1; i <= Model.TotalPaginas; i++)
        {
            <a href="@Url.Page("Index", new { pagina = i })">@i</a>
        }
    </div>
</section>


